.section1
    position: relative
    width: 100%
    height: 100vh
    min-height: 100vh
    background: url(../img/site1/bg1.jpg) no-repeat center center
    background-size: cover
    z-index: 100
    .mask
        content: ""
        position: absolute
        width: 100%
        height: 100vh   
        top: 0
        left: 0
        background: url(../img/site1/mask1.png) no-repeat center center
        background-size: cover
        z-index: -1
    &_head
        position: relative
        height: 100px
        width: 100%
        line-height: 100px
        border-bottom: 2px solid #5f868e
        .logo
            float: left
            a
                color: #fff
                display: block
        .links
            float: left
            margin-left: 200px
            ul
                li
                    display: inline-block
                    margin-right: 20px
                    a
                        display: block
                        color: #fff
                        transition: all .3s ease
                        position: relative
                        &::before
                            content: ""
                            position: absolute
                            width: 0
                            display: block
                            background-color: #ffeb3b
                            height: 3px
                            bottom: 0
                            left: 0
                            transition: all .3s ease
                        &:hover
                            color: #ffeb3b
                            &::before
                                width: 100%
        .input_wrapper
            float: right
            position: relative
            input   
                background-color: transparent
                border: none
                height: 30px
                color: #fff
                padding-right: 30px
                width: 140px
                font-size: 18px
                &:focus
                    border: none
                    outline: none
            &::before
                content: "\f002"
                position: absolute
                color: rgba(250, 250, 250, .8)
                top: 0
                right: 0
                font-size: 24px
                font-weight: 100
                font-family: "FontAwesome"
    .title
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)   
        color: #fff
        font-size: 84px
    
#toggle
    display: none

#bars
    cursor: pointer
    float: left
    display: none